body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
}
/* Container */

.container {
  width: 100%;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  height: 7vh;
  background-color: #282a2e;
  position: fixed;
  z-index: 3;
}

.text-regular {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 5px;
  font-weight: 500;
}

.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.header-logo img {
  max-width: 100%;
  display: block;
}

section#yak2::before {
  content: '';
  display: block;
  height: 7vh;
  margin-top: -6vh;
  visibility: hidden;
}

section#yak3::before {
  content: '';
  display: block;
  height: 7vh;
  margin-top: -6vh;
  visibility: hidden;
}
section#yak3::before {
  content: '';
  display: block;
  height: 7vh;
  margin-top: -6vh;
  visibility: hidden;
}
section#yak4::before {
  content: '';
  display: block;
  height: 7vh;
  margin-top: -6vh;
  visibility: hidden;
}
section#yak5::before {
  content: '';
  display: block;
  height: 6vh;
  margin-top: -6vh;
  visibility: hidden;
}
section#yak6::before {
  content: '';
  display: block;
  height: 7vh;
  margin-top: -6vh;
  visibility: hidden;
}


.navbar {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.nav__list {
  display: flex;
}

.nav-link {
  color: #fff;
  margin-left: 20px;
}

.nav-link:hover {
  color: #7fa242;
}

/* INTRO SLIDER */
.slider {
  position: relative;
  margin-bottom: -5px;
}
.slider_item {
  position: relative;
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.slider_item img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.slick-arrow.slick-next {
  right: 20px;
  background: url(../img/circled-right.png) 0 0 / 100% no-repeat;
}
.slick-arrow.slick-prev {
  left: 20px;
  background: url(../img/circled-left.png) 0 0 / 100% no-repeat;
}

.intro-head-text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  color: #fff;
  font-weight: 300;
  padding: 10% 20%;
}

.intro-subhead-text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  padding: 15% 20%;
}

/* OUR SERVICES */

.our-services {
  background-color: #282a2e;
  padding-bottom: 20px;
}

.our-services-text {
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  padding: 1.5em;
  text-align: center;
}

.our-services__info {
  display: flex;
  justify-content: space-around;
}

.our-services__card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  position: relative;
  width: 100px;
  height: 100px;
  background: #313338;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.card-text {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

.card-text__content {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

/*======== DO you LIKE What you See?) =======*/

.do-you-like {
  height: 50vh;
  background-image: url(../img/Intro.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.liked_container {
  height: max-content;
  position: absolute;
  top: 30%;
}

.liked_container > p {
  font-size: 40px;
  color: #fff;
  margin-top: -35px;
  font-weight: 500;
}

.liked_container > h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 25px;
}

.liked_container_xs > h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  padding-top: 100px;
}

.liked_container_xs > p {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  margin-top: 0;
}

.button_like {
  width: 7.2em;
  height: 2.2em;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: #b0cd3b;
  border: none;
  border-bottom: 3px solid #798f21;
  cursor: pointer;
}

.button_like:nth-last-child(1) {
  background-color: #1bbc9d;
  border-bottom: 3px solid #1f937d;
  margin-left: 10px;
}

/*========== Portfolio ===============*/

.portfolio {
  height: max-content;
  background-color: #282a2e;
  padding-bottom: 40px;
}

.section-header {
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}

.tabs-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.tab__content {
  display: none;
}

.ui-design{
    display: flex;
}
.ui-design img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.ui-design_img{
    width: 50%;
}

.ui-design_text{
    width: 50%;
    margin-left: 10px;
    color: #fff;
    font-size: 1rem;
    
}

.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
}

.video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.photography{
    color: #f4f4f4;
    font-size: 1.1rem;
    text-indent: 15px;
}
.tabs-list {
  width: 106px;
  height: 34px;
  background-color: #313338;
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-right: 6px;
  margin-bottom: 30px;
}

.tabs-list:hover {
  background-color: #1bbc9d;
  font-weight: 500;
  border-bottom: 2px solid #1f937d;
  cursor: pointer;
}

.tabs-list.active {
  background-color: #1bbc9d;
  border-bottom: 2px solid #1f937d;
}

.portfolio-card {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 10px;
}

.card-info {
  background-color: #313337;
  position: relative;
}

.card-info > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-card {
  opacity: 0;
  height: 100%;
}

.about-card:hover {
  width: 80%;
  height: 80%;
  border-radius: 5%;
  background-color: #232323;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  padding-top: 35px;
  color: #fff;
  opacity: 1;
  transition: 0.3s linear;
}

.card-liked {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-liked img {
  height: 100%;
  margin: 10px;
}

.load-more {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.load-more__text {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.arrow {
  width: 17px;
  height: 17px;
  border-top: 3px solid #aaca29;
  border-right: 3px solid #aaca29;
  transform: rotate(135deg);
  cursor: pointer;
}

/*============= PRICE ========= */

.section-header {
  margin-bottom: 45px;
}

.price {
  background-color: #282a2e;
  padding-bottom: 60px;
}

/* TOP SECTION */

.top-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  margin-bottom: 65px;
}

.price-card {
  height: 440px;
  background-color: #313338;
  text-align: center;
  border-radius: 5px;
}

.price-card > h4 {
  color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 36px;
  margin-bottom: 25px;
}

.price-card:nth-child(2) > h4,
.price-card:nth-child(2) .card-info__price > p {
  color: #5c5c5c;
}

.price-card:nth-child(2) {
  background-color: #fff;
}

.price-box {
  height: 44px;
  width: 100%;
  color: #fff;
  background-color: #1bbc9d;
  border-bottom: 3px solid #17987f;
  line-height: 2.5;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-info__price {
  color: #b6b6b6;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.card-info__price > p {
  margin-bottom: 20px;
}

.button-like__price {
  width: 130px;
  height: 40px;
  padding: 12px 27px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: #b0cd3b;
  border-bottom: 3px solid #798f21;
  cursor: pointer;
}

/* LOW SECTION */

.low-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 65px;
}

.price-card__xs {
  height: max-content;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 30px;
}

.price-card__xs > h5 {
  color: #5c5c5c;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 36px;
  margin-bottom: 25px;
}

.price-box__xs {
  height: 44px;
  width: 100%;
  color: #fff;
  background-color: #424242;
  border-bottom: 3px solid #2d2d2d;
  line-height: 2.5;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-info__price__xs {
  color: #5c5c5c;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.card-info__price__xs > p {
  margin-bottom: 20px;
}

.button-like__price__xs {
  width: 130px;
  height: 40px;
  padding: 12px 27px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #424242;
  background-color: #e4e4e4;
  border-bottom: 3px solid #c1c1c1;
  cursor: pointer;
}

.price-card__xs:nth-child(2) .button-like__price__xs {
  background-color: #74b0a4;
  border-bottom: 3px solid #55857b;
  color: #fff;
}

.price-card__xs:nth-child(2) .price-box__xs {
  background-color: #74b0a4;
  border-bottom: 3px solid #55857b;
}

.price-card__xs:nth-child(3) .button-like__price__xs {
  background-color: #b6c380;
  border-bottom: 3px solid #8e9865;
  color: #fff;
}

.price-card__xs:nth-child(3) .price-box__xs {
  background-color: #b6c380;
  border-bottom: 3px solid #8e9865;
}

.price-card__xs:nth-child(4) .button-like__price__xs {
  background-color: #424242;
  border-bottom: 3px solid #2d2d2d;
  color: #fff;
}

.price-card__xs:nth-child(4) .price-box__xs {
  background-color: #e4e4e4;
  border-bottom: 3px solid #a7a7a7;
  color: #74b0a4;
}

.low-section_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
  position: relative;
  margin-bottom: 40px;
}

.low-section_title::before {
  content: "";
  width: 35%;
  height: 2px;
  background: #424242;
  position: absolute;
  left: 0;
  top: 10px;
}

.low-section_title::after {
  content: "";
  width: 35%;
  height: 2px;
  background: #424242;
  position: absolute;
  right: 0;
  top: 10px;
}

.about-us_low {
  width: 35%;
  color: #616162;
  font-size: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.about-us_low > a {
  color: #b0cd3b;
  margin-top: 20px;
  font-weight: 700;
}

.about-us_low::before {
  content: url(../img/skobl.png);
  position: absolute;
  left: -100px;
}

.about-us_low::after {
  content: url(../img/skobr.png);
  position: absolute;
  right: -100px;
}

/* ============   ABOUT US   ============= */

.about-content {
  height: max-content;
  background-color: #282a2e;
  padding-bottom: 60px;
}

.about-us_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
}

.about-us_container {
  position: relative;
  height: max-content;
  text-align: center;
  color: #fff;
  /* margin-bottom: 60px; */
}

.about-us_container > h5 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}

.about-us_container > span {
  font-size: 14px;
  font-weight: 300;
}

.about-us_container > p {
  font-size: 12px;
  color: #acacac;
}

/* =============== CONTACT US ==================*/

.contact-us {
  height: max-content;
  background-color: #282a2e;
  padding-bottom: 95px;
}

.contact-form {
  display: flex;
  justify-content: space-between;
}

.contact-form > div:first-child {
  width: 75%;
}

.contact-form > div:last-child {
  width: 20%;
}

.contact-form > div > h5 {
  color: #fff;
  border-bottom: 2px solid #424242;
  padding-bottom: 5px;
  font-size: 18px;
}

.contact-form_input > input {
  width: 49%;
  height: 35px;
  padding: 5px 10px 5px 10px;
  margin: 15px 5px;
  margin-left: 0;
  background: #222327;
  font-size: 14px;
  border: none;
  outline: none;
  color: #989898;
}

.contact-form_input > textarea {
  width: 99%;
  padding: 5px 10px 5px 10px;
  background: #222327;
  font-size: 14px;
  border: none;
  outline: none;
  color: #989898;
}

.contact-form_input > button {
  height: 32px;
  width: 104px;
  margin-top: 20px;
  background-color: #1bbc9d;
  border: 0;
  border-bottom: 3px solid #1f937d;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.contact-form_info {
  color: #989898;
  font-size: 16px;
  font-weight: 300;
}

.form-info_text {
  margin-top: 30px;
}

.form-info_button {
  height: 32px;
  width: 104px;
  margin-top: 20px;
  background-color: #1bbc9d;
  border-bottom: 3px solid #1f937d;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 2.3;
}

.form-info_button > a {
  color: #fff;
}

/* ====== CONNECT WITH US ======== */

.social-link {
  display: grid;
  grid-template-columns: repeat(8, 5%);
  grid-gap: 2%;
}

.social-icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.social-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.social-icon:hover {
  background-color: #b0cd3b;
  border: 5px solid #000000;
  border-radius: 50%;
}

/* =====  FOOTER ======*/

.footer-top {
  background-color: #282a2e;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px;
}

.footer-column_info {
  margin-top: 70px;
}

.footer-column_info > h5 {
  color: #fff;
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
}

.column-info_list {
  padding: 20px 0 60px 0;
}

.column-info_list > li {
  font-size: 13px;
  color: #6c6c6c;
}

.column-info_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}
.column-info_img img {
  width: 100%;
  height: 100%;
}

.under-footer {
  background-color: #222327;
  height: 134px;
}

.under-footer_info {
  padding-top: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.under-footer_text {
  color: #989898;
  font-size: 16px;
  font-weight: 300;
}
.under-footer_text{
  display: flex;
  flex-direction: column;
}
.under-footer_text > p {
  margin-left: 25px;
}
.under-footer_link{
  text-decoration: none;
  color: #989898;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .intro-subhead-text {
    font-size: 50px;
  }
  .intro-head-text {
    font-size: 40px;
  }
  .slider_item img {
    width: 100%;
    height: 100%;
  }
  .about-us_content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 15px;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
  }
  .column-info_img {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .card-info {
    background-color: #282a2e;
  }

  .price-card__xs > h5 {
    font-size: 18px;
  }
  .card-info__price__xs {
    font-size: 15px;
  }

  .contact-form_input > input {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .contact-form_input > textarea {
    width: 100%;
    margin-top: 10px;
  }
  .form-info_button {
    margin-top: 50px;
  }
  .price-card__xs > h5 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro-subhead-text {
    font-size: 26px;
  }
  .intro-head-text {
    font-size: 30px;
  }
  .slick-arrow {
    display: none;
  }
  .slider_item img {
    width: 100%;
    height: 100%;
  }
  .card-text__content {
    font-size: 10px;
  }
  .portfolio-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 50%);
    overflow: hidden;
  }
  .liked_container > h2 {
    font-size: 50px;
  }
  .price-card {
    height: max-content;
    padding-bottom: 30px;
  }

  .price-card > h4 {
    font-size: 15px;
  }
  .card-info__price > p {
    font-size: 12px;
  }
  .price-card__xs > h5 {
    font-size: 14px;
  }
  .button-like__price__xs {
    font-size: 12px;
  }
  .card-info__price__xs {
    font-size: 12px;
  }

  .about-us_low {
    font-size: 10px;
  }

  .about-us_content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 15px;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
  }
  .column-info_img {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .contact-form_input > input {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .contact-form_input > textarea {
    width: 100%;
    margin-top: 10px;
  }
  .form-info_button {
    margin-top: 45px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .intro-subhead-text {
    font-size: 18px;
  }
  .intro-head-text {
    font-size: 22px;
  }
  .slick-arrow {
    display: none;
    z-index: -1;
  }
  .slider_item img {
    width: 100%;
    height: 100%;
  }
  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
    transition: 0.5s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.4s;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.4s;
  }

  .navbar {
    position: fixed;
    top: -100%;
    right: 0;
    width: 25%;
    height: max-content;
    transition: all 0.3s ease 0s;
    padding: 8vh 2vh 2vh 2vh;
    background-color: #282a2e;
  }
  .navbar.active {
    top: 0;
    opacity: .9;
  }

  .nav__list {
    display: block;
    padding: 0;
  }
  .nav__list li {
    margin-bottom: 10px;
  }
  .nav-link {
    margin: 0 10% 0 0;
  }
  .card-img {
    width: 70px;
    height: 70px;
  }
  .card-text__content {
    font-size: 10px;
  }
  .portfolio-card {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 50%);
    overflow: hidden;
  }
  .ui-design{
    display: flex;
    flex-direction: column;
    }
    .ui-design_img{
        width: 100%;
    }
    .ui-design_text{
        width: 100%;
    }


  .tabs-nav {
    padding-left: 0;
  }
  .price-card {
    height: max-content;
    padding-bottom: 30px;
  }
  .price-card > h4 {
    font-size: 12px;
  }
  .card-info__price > p {
    font-size: 10px;
  }
  .top-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .low-section {
    grid-template-columns: repeat(2, 45%);
  }
  .button-like__price__xs {
    font-size: 12px;
  }
  .card-info__price__xs {
    font-size: 12px;
  }
  .about-us_low {
    font-size: 10px;
  }
  .contact-form_info {
    font-size: 14px;
  }
  .contact-form > div > h5 {
    font-size: 14px;
  }
  .about-us_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
  }
  .column-info_img {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding-bottom: 10px;
  }
  .contact-form_input > input {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .contact-form_input > textarea {
    width: 100%;
    margin-top: 10px;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form > div:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form > div:last-child {
    width: 100%;
  }
  .form-info_button {
    margin-top: 35px;
  }
  .footer-column_info > h5 {
    font-size: 10px;
  }
  .column-info_list > li > p {
    font-size: 10px;
    margin-top: 0;
  }
  .about-us_container {
    margin-bottom: 0;
    height: max-content;
  }
  .column-info_list > li {
    font-size: 12px;
  }
  .under-footer_text {
    font-size: 10px;
  }
  .social-link {
    display: grid;
    grid-template-columns: repeat(4, 10%);
  }
  .liked_container > h2 {
    font-size: 35px;
  }
  .liked_container > p {
    font-size: 25px;
    margin-top: 10px;
  }
  .liked_container_xs > h2 {
    font-size: 20px;
  }
  .liked_container_xs > p {
    font-size: 20px;
  }
  .low-section_title::after {
    content: none;
  }
  .low-section_title::before {
    content: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  body.lock {
    overflow: hidden;
  }
  .intro-subhead-text {
    font-size: 12px;
    padding: 20% 20%;
  }
  .intro-head-text {
    font-size: 14px;
    padding: 15% 20%;
  }
  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
    transition: 0.5s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.4s;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.4s;
  }

  .navbar {
    position: fixed;
    top: -100%;
    right: 0;
    width: 30%;
    transition: all 0.3s ease 0s;
    padding: 8vh 2vh 2vh 2vh;
    background-color: #282a2e;
  }
  .navbar.active {
    top: 0;
    opacity: .9;
  }

  .nav__list {
    display: block;
    padding: 0;
  }
  .nav__list li {
    margin-bottom: 10px;
  }
  .nav-link {
    margin: 0 10% 0 0;
  }
  .ui-design{
    display: flex;
    flex-direction: column;
    }
    .ui-design_img{
        width: 100%;
    }
    .ui-design_text{
        width: 100%;
    }
    
  .slick-arrow {
    display: none;
    z-index: -1;
  }

  .slider_item img {
    width: 100%;
    height: 100%;
  }
  .our-services-text,
  .section-header {
    font-size: 24px;
    padding: 15px;
    margin-bottom: 0;
  }
  .do-you-like {
    height: 35vh;
  }
  .liked_container > h2 {
    font-size: 20px;
  }
  .liked_container > p {
    font-size: 20px;
    margin-top: 0.25em;
  }
  .liked_container_xs > h2 {
    font-size: 18px;
  }
  .liked_container_xs > p {
    font-size: 15px;
  }
  .card-img {
    width: 50px;
    height: 50px;
  }
  .card-text {
    font-size: 12px;
  }
  .card-text__content {
    font-size: 10px;
  }
  .tabs-nav {
    padding-left: 0;
  }
  .tabs-list {
    font-size: 8px;
    height: max-content;
    margin-right: 2px;
    margin-bottom: 10px;
  }
  .portfolio-card {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 33%);
    overflow: hidden;
  }

  .price-box__xs {
    font-size: 12px;
    line-height: 3.5;
    margin-bottom: 20px;
  }
  .price-card {
    height: max-content;
    padding-bottom: 30px;
  }

  .price-card > h4 {
    font-size: 12px;
  }
  .price-card__xs > h5 {
    font-size: 12px;
  }
  .card-info__price > p {
    font-size: 10px;
  }

  .card-info__price__xs {
    font-size: 10px;
  }

  .top-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .low-section {
    grid-template-columns: repeat(2, 45%);
  }

  .button-like__price__xs {
    font-size: 12px;
  }
  .low-section_title {
    font-size: 14px;
    margin-bottom: 20px;
    position: inherit;
  }
  .about-us_low {
    font-size: 10px;
  }
  .contact-form_info {
    font-size: 14px;
  }
  .contact-form > div > h5 {
    font-size: 14px;
  }
  .social-link {
    display: grid;
    grid-template-columns: repeat(4, 15%);
  }

  .about-us_content {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 15px;
    margin-bottom: 10px;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
  }
  .column-info_img {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  .contact-form_input > input {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .contact-form_input > textarea {
    width: 100%;
    margin-top: 10px;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form > div:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form > div:last-child {
    width: 100%;
  }
  .form-info_button {
    margin-top: 35px;
  }
  .liked_container_xs > h2 {
    padding-top: 30px;
  }
  .footer-column_info > h5 {
    font-size: 11px;
  }
  .column-info_list > li > p {
    font-size: 10px;
    margin-top: 0;
  }
  .about-us_container {
    margin-bottom: 0;
    height: max-content;
  }
  .column-info_list > li {
    font-size: 12px;
  }
  .under-footer_text {
    font-size: 10px;
  }
  .low-section_title::after {
    content: none;
  }
  .low-section_title::before {
    content: none;
  }
}
